body {
  margin: 0;
}

.first-grid {
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
  width: 33.3%;
  height: 33.3%;
}

.second-grid {
  background-color: blue;
  position: absolute;
  top: 0;
  left: 33.3%;
  width: 33.3%;
  height: 33.3%;
}

.third-grid {
  background-color: red;
  position: absolute;
  top: 0;
  left: 66.6%;
  width: 33.3%;
  height: 33.3%;
}

.fourth-grid {
  background-color: purple;
  position: absolute;
  top: 33.3%;
  left: 0;
  width: 33.3%;
  height: 33.3%;
}

.fifth-grid {
  background-color: pink;
  position: absolute;
  top: 33.3%;
  left: 33.3%;
  width: 33.3%;
  height: 33.3%;
}

.sixth-grid {
  background-color: brown;
  position: absolute;
  top: 33.3%;
  left: 66.6%;
  width: 33.3%;
  height: 33.3%;
}

.seventh-grid {
  background-color: cyan;
  position: absolute;
  top: 66.6%;
  left: 0;
  width: 33.3%;
  height: 33.3%;
}

.eighth-grid {
  background-color: grey;
  position: absolute;
  top: 66.6%;
  left: 33.3%;
  width: 33.3%;
  height: 33.3%;
}

.ninth-grid {
  background-color: black;
  position: absolute;
  top: 66.6%;
  left: 66.6%;
  width: 33.3%;
  height: 33.3%;
}
